<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6" id="footer-about">
                <h1>About</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Non alias ipsa eaque possimus reprehenderit enim tempora aut. 
                    Exercitationem, laboriosam. 
                    Porro, vero esse possimus totam quae doloremque est quia excepturi accusamus,
                    optio dolores modi alias repellat, 
                    ab at libero magni ullam doloribus consectetur facilis nihil eveniet recusandae saepe cupiditate! Rem, odio?
                </p>
            </div>
            <div class="col-md-3" id="footer-contact">
                <h1>Contact The Developer:</h1>
                <a href = "mailto: praghadieshnikhil234@gmail.com" target="_blank">Email me!</a>
            </div>
            <div class="col-md-3" id="footer-links">
                <h1>Quick Links</h1>
                <a href="/">Home</a>
                <% if(currentUser){ %>
                    <a href="/posts">Feed</a>
                    <a href="/logout">Log Out</a>
                <% } else { %>
                    <a href="/login" style="margin-right: 1em;">Login</a>
                    <a href="/register">Sign Up</a>
                <% } %>
            </div>
        </div>
        <hr id="footer-hr">
        <div class="row justify-content-start" style="margin-top: 1.5em;">
            <div class="col-md-6 float-left">
                <p>
                    Copyright &copy; 2021-2022. All rights reserved by <span class="foot-logo">Chitter</span>
                </p>
            </div>
            <div class="col-md-4 float-right" id="footer-media">
                <a class="facebook" href="https://www.facebook.com/praghadiesh.nikil/" target="_blank"><i class="fab fa-facebook"></i></a>
                <a class="instagram" href="https://www.instagram.com/prag_ofthe_jungle" target="_blank"><i class="fab fa-instagram"></i></a>
                <a class="github" href="https://github.com/theprag0" target="_blank"><i class="fab fa-github"></i></a>
                <a class="linkedin" href="https://www.linkedin.com/in/praghadiesh-saravanan-45b876198/" target="_blank"><i class="fab fa-linkedin"></i></a>  
            </div>
        </div>
    </div>
  </footer>
    