<% layout('./boilerplate') -%>
<header id="showcase">
    <div class="bg-landing"></div>
    <div class="container">
        <div class="row align-items-center">
            <div id="header-text" class="col-md-12">
                <div data-aos="flip-up" data-aos-duration="1500"><img src="/images/chitter-logo-transp.png" alt="chitter logo"/></div>
                <div data-aos="fade-right" data-aos-duration="1600">
                    <h1>Connect easy, with Chitter</h1>
                </div>
                <p>
                    Chitter is a social media application <br> 
                    that helps you connect with your loved ones <br>
                    within finger tips 
                    <div data-aos="fade-left" data-aos-duration="1000"><span id="landing-q1">"Chitter your thoughts"</span></div>
                </p>
                <a href="#">Get Started</a>
            </div>
        </div>
    </div>
</header>

<section id="landing-s1">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <img src="/images/group-bottom.webp" alt="group illustration" class="img-fluid"/>
            </div>
        </div>
        <div class="row justify-content-center align-items-center" style="padding: 2em 0;">
            <div class="col-md-6">
                <img src="/images/social.svg" class="img-fluid" alt="social illustration" 
                data-aos="zoom-in-left" data-aos-duration="1500"/>
            </div>
            <div class="col-md-6" id="landing-s1-text">
                <h1 data-aos="fade-down" data-aos-duration="1000">Chitter is so easy to use and easy to connect.</h1>
                <p data-aos="fade-up" data-aos-duration="1200">
                    Connect with your loved ones, share your thoughts 
                    to the world with our easy to use and 
                    simple UI, loaded with a lots of 
                    other Features
                </p>
            </div>
        </div>
    </div>
</section>

<section id="landing-s2">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-7">
                <div class="row justify-content-center">
                    <div class="col-md-12 justify-content-center">
                        <div class="card s2-card" style="background-color: #cffafa;" 
                        data-aos="zoom-in-down" data-aos-duration="1200">
                            <img src="/images/poly-clouds.png" class="card-img-top card-imgs" alt="...">
                            <div class="card-body">
                                <h1 class="card-title">Explore.</h1>
                                <p class="card-text">
                                    Explore your interests with a great <br> and diverse community, <br>
                                    and share your thoughts with the world <br>
                                    with ease.
                                </p>
                                <a href="#">Find Friends</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-5">
                    <div class="col-md-12">
                        <div class="card s2-card" style="background-color: #cffafa;" 
                        data-aos="zoom-in-up" data-aos-duration="1200">
                            <img src="/images/poly-bird.jpg" class="card-img-top card-imgs" alt="...">
                            <div class="card-body">
                                <h1 class="card-title">Get Notified.</h1>
                                <p class="card-text">
                                    Stay connected with instant notifications <br> and 
                                    our suggestions from <br> the community.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5" id="s2-illus" data-aos="zoom-in-right" data-aos-duration="1000">
                <img src="/images/socialmedia-anim3.gif" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>

<section id="landing-s3">
    <div class="container">
        <div class="row justify-content-right">
            <div class="col-md-12">
                <p id="img-credit"></p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12" id="s3-text">
                <h1>Okay, So get started with <span class="foot-logo">Chitter</span> <br> already.</h1>
                <p>Get Started in just a few steps</p>
                <a href="/login" style="background: #00b8ff;">Login</a>
                <a href="/register" style="background: #00cf35;">Get Started</a>
            </div>
        </div>
        <div class="row justify-content-between align-items-end" id="foot-credits">
            <div class="col-md-3">
                <p>&copy;2021 - 2022 <span class="foot-logo">Chitter</span></p>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-3" id="design-credit">
                <p style="display: inline-block;">Design by Prag. &nbsp;</p>
                <a href="https://github.com/theprag0" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://instagram.com/prag_ofthe_jungle" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</section>

<div class="progressbar">
    <ul>
        <li><a href="#showcase" id="bar1" class="active-bar"> </a></li>
        <li><a href="#landing-s1" id="bar2"> </a></li>
        <li><a href="#landing-s2" id="bar3"> </a></li>
        <li><a href="#landing-s3" id="bar4"> </a></li>
    </ul>
</div>
