@import "./nav.css";
@import "./home.css";
@import "./footer.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s ease-out;
}

body {
    color: white;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

html{
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 10px;
}
html::-webkit-scrollbar-track{
    background: #fff;
}
html::-webkit-scrollbar-thumb{
    background: #fa003f;
    border-radius: 50px;
}